@{
    ViewData["Title"] = "Home Page";
}

         <div class="banner">
            <div id="wrapper">
                <div class="slider-wrapper theme-default">
                    <div id="slider" class="nivoSlider">
                     <img src="images/banner1.jpg"/>
                     <img src="images/banner2.jpg"/>
                     <img src="images/banner3.jpg"/>
                     <img src="images/banner4.jpg"/>
                    </div>
                </div>
            </div>
        </div>
                <div class="main">
                    <div class="content-top">
                        <div>
                                <div class="title-desc"><p>HAKKIMIZDA</p><hr></div>
                                <div class="clear"></div>
                        </div>
                            <p>Sakarya şehrinin önde gelen sağlık kuruluşlarından biri olan Beyza Hastanesi 2002 yılında kurulmuştur. Amacımız hasta odaklı yaklaşımımız ve uzman kadromuz ile toplumumuza kaliteli sağlık hizmetlerini sunmaktır.</p>
                            <hr><hr>
                        </div>
                        <div class="clear"></div>

                        <div>
                            <div class="title-desc"><p>VİZYONUMUZ</p><hr></div>
                            <div class="clear"></div>
                        </div>
                        <p>
                            Sağlıklı bir toplum için öncü sağlık hizmetleri sunmak.
                        </p>
                        <hr><hr><hr>
                        </div>

                        <div class="clear"></div>

                        <div>
                            <div class="title-desc"><p>MİSYONUMUZ</p><hr></div>
                            <div class="clear"></div>
                        </div>
                        <p>
                            Hasta memnuniyetini ön planda tutarak bilimsel gelişmelere açık, etik değerlere bağlı, sürekli eğitim ve teknolojiyi kullanarak sağlık hizmeti sunmak.
                        </p>
                        <hr>
                        
                        </div>

                        <div class="content-bottom">
                            <div class="col_1_of_bottom span_1_of_bottom">
                                <img src="images/pic.jpg" alt="" />
                                <div class="main_link">
                                    <h5>AĞIZ VE DİŞ SAĞLIĞI</h5>
                                    <p style="text-transform: none; font-size: 15px;">Bireylerin oral sağlıklarını koruma, tedavi ve geliştirmeye odaklanarak modern tıbbi teknoloji ve uzman kadrosuyla geniş bir diş hekimliği hizmeti sunmaktadır.</p>
                                </div>

                            </div>
                            <div class="col_1_of_bottom span_1_of_bottom">
                                <img src="images/pic1.jpg" alt="" />
                                <div class="main_link">
                                    <h5>DAHİLİYE</h5>
                                    <p style="text-transform: none; font-size: 16px;">İç hastalıkları konusunda uzmanlaşmış bir birim olarak, çeşitli tanı ve tedavi yöntemleriyle genel sağlık sorunlarına çözüm sunar.</p>
                                </div>
                            </div>
                            <div class="col_1_of_bottom span_1_of_bottom">
                                <img src="images/pic2.jpg" alt="" />
                                <div class="main_link">
                                    <h5>NÖROLOJİ</h5>
                                    <p style="text-transform: none; font-size: 16px;">Sinir sistemi hastalıkları ve bozukluklarına yönelik ileri teknoloji kullanarak nörolojik muayene, tanı, tedavi ve takip hizmetleri sunmaktadır.</p>
                                </div>
                            </div>
                            <div class="clear"></div>

                            <div style="display: flex; justify-content: center; align-items: center;">
                                <a href="#" class="btn btn-primary">more</a>   <br /><br /><br /><br />
                            </div>
                        </div>
              </div>
